.custom-date-picker .react-datepicker-wrapper {
  width: 100% !important;
}

.custom-date-picker .datepicker-icon {
  background: url('/images/bookings/calendar-icon.svg') no-repeat right;
  background-size: 20px;
  width: 100%;
  height: 100%;
}
